* {
  font-family: "VT323", monospace;
  color: whitesmoke;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: black;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  margin-bottom: 20px;
  background-color: rgb(175, 100, 240);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
}
button:hover {
  background-color: lightblue;
  color: black;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  border-radius: 10px;
  border: solid rgb(209, 63, 126) 30px;
}

.row {
  flex: 1;
  display: flex;
}

.box {
  flex: 1;
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
}

.box.inked {
  background-color: black;
}
